<h1>Comicbooks</h1>
<!-- <%raw @comicbooks %> -->

    <table >
        <tr >
            <th class="tableheader">Title</th>
            <th class="tableheader">Hero</th>
            <th class="tableheader">Squad</th>
        </tr>
            <% @comicbooks.each do |comicbook| %>
            <!-- <%= render partial: 'comicbooks/all_comicbooks', locals: {comicbooks: @comicbooks} %> -->
            <%= render partial: 'comicbook', locals: {comicbook: comicbook }%>
            <% end %>
    </table>


