<h1>Comicbooks</h1>

    <table>
        <tr>
            <th>Title</th>
            <th>Hero</th>
            <th>Squad</th>
        </tr>
    
        <% @comicbooks.each do |comicbook| %>
            <tr>
                <td><%= comicbook.title %></td>
                <td><%= comicbook.person.name %></td>
                <td><%= comicbook.squad.name %></td>
            </tr>
        <% end %>
    </table>


