<h1>Your Heroes</h1>
<% @persons.each do |person| %>
    <table>
        <tr>
        <th>Comicbook</th>
        <th>Hero</th>
        <th>Squad</th>
        </tr>
        <h2><% person.name %></h2>
        <% person.comicbooks.each do |comicbook| %>
            <tr>
                <td><%= comicbook.title %></td>
                <td><%= comicbook.person.name %></td>
                <td><%= comicbook.squad.name %></td>
            </tr>
        <% end %>
    </table>
<% end %>

