<h1>Squads</h1>
<% @persons.each do |squad| %>
    <table>
        <tr>
        <th>Comicbook</th>
        <th>Hero</th>
        <th>Squad</th>
        </tr>
        <h2><% squad.name %></h2>
        <% squad.comicbooks.each do |comicbook| %>
            <tr>
                <td><%= comicbook.title %></td>
                <td><%= comicbook.person.name %></td>
                <td><%= comicbook.squad.name %></td>
            </tr>
        <% end %>
    </table>
<% end %>
