<!DOCTYPE html>
<html>
    <h2 class="greeting">Welcome 'Add Username' </h2>
    <div class="vertical_spacer"><br></div>
    <h2>Add your favorite heroes, their comic appearances, team affiliation and power level.</h2>
    <div class="vertical_spacer"><br></div>
    <!-- <%= link_to 'Logout', destroy_user_session_path, method: :delete %> -->
</html>