<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Account</title>
        <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
        <link rel="stylesheet" href="/stylesheets/custom.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,800&display=swap" rel="stylesheet">
    </head>  
    <h1>Rank Hero</h1>
    <div class="container purple topBotomBordersIn">
        <a href="/heros">YOUR HEROES</a>
        <a href="/heros/new">ADD HERO</a>
        <a href="/users/edit">YOUR ACCOUNT</a>
    </div>
        
    <h2 class="greeting">Welcome 'Add Username' </h2>
    <div class="vertical_spacer"><br></div>
    <h2>Add your favorite heroes, their comic appearances, team affiliation and power level.</h2>
    <div class="vertical_spacer"><br></div>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
</html>